.game-menu {
    padding: 2em;
    background-color: #F8F9FA;
    border-radius: 1em;
}

.game-menu h2 {
    margin-bottom: 1em;
}

.game-menu .btn {
    font-size: 1.25em;
    font-weight: bold;
    background-color: #FFDD00;
    text-align: center;
}

.game-menu .btn:hover {
    background-color: #FFD000;
}