.game-container {
    background-color: #F8F9FA;
    border-radius: 1rem;
    overflow: hidden;
    min-height: 15em;
    border: .5rem solid #F8F9FA;
}

.game-bar {
    background-color: #FFDD00;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    padding: .75em;
    font-size: 1.25em;
}

/* Board separators */
@media (max-width: 575px) {
    .board-container {
        border-top: 3px solid #FFDD00;
        border-bottom: 3px solid #FFDD00;
    }
    .board-container:first-child {
        border-top: none;
    }
    .board-container:last-child {
        border-bottom: none;
    }
}
@media (min-width: 576px) {
    .board-container {
        border-left: 3px solid #FFDD00;
        border-right: 3px solid #FFDD00;
    }
    .board-container:first-child {
        border-left: none;
    }
    .board-container:last-child {
        border-right: none;
    }
}

.board-container.disabled, .board-container.winner {
    background-color: #E8E9EA;
}

.board-container.winner {
    background-image: url("images/trophy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

.board {
    padding: 2em;
}

.board input {
    width: 7em;
    overflow: hidden;
    padding-left: calc(.75rem + .75em);
    padding-right: 0;
}

.profile-picture {
    height: 5em;
    width: 5em;
    border: 1px solid #FFDD00;
    background-color: #FFF;
    padding: .75em;
}

.history ul {
    list-style: none;
    padding: 0;
}

.history li {
    margin-top: .5em;
}

.number {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.75em;
    letter-spacing: .75em;
    padding-left: .75em;
}

@media (max-width: 1023px) {
    .history .number {
        font-size: 2vh;
    }
}

.number .badge {
    letter-spacing: normal;
    margin-left: 1em;
}

.badge.disabled {
    background-color: transparent;
    color: transparent;
}

.attempt.badge {
    font-size: 1.75em;
}