.profile-picture {
    height: 5em;
    width: 5em;
    border: .3em solid #FFDD00;
    background-color: #FFF;
}

.number {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.75em;
    letter-spacing: .75em;
}

.number .badge {
    letter-spacing: normal;
    margin-left: 1em;
}

.badge.disabled {
    background-color: transparent;
    color: transparent;
}

.attempt.badge {
    font-size: 1.75em;
}

.numberList {
    list-style: none;
    padding: 0;
}

.numberList li {
    margin-top: .5em;
}

.boards-container .board-container:first-child {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.boards-container .board-container:last-child {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.attempt-form .btn {
    font-size: 1.75em;
    padding-left:  1em;
    padding-right:  1em;
}

.board-container {
    background-color: #F8F9FA;
}

.board-container.disabled {
    background-color: #E8E9EA;
}

.board {
    padding: 2em;
}

.board input {
    width: 7em;
    overflow: hidden;
    padding-left: calc(.75rem + .75em);
    padding-right: 0;
}


.row.vertical-divider > div[class^="col-"] {
    border-left: 3px solid #FFDD00;
    border-right: 3px solid #FFDD00;
}
.row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
}